{% extends 'base.html' %}
{% block content %}


<div class="row justify-content-center">
<div class="col-md-7">
<div class="card shadow-sm">
<div class="card-header fw-bold">
Strategy Configuration
</div>
<div class="card-body">
<form action="/simulate" method="post">


<div class="mb-3">
<label class="form-label">Circuit</label>
<select class="form-select" name="circuit">
<option>Monza</option>
<option>Silverstone</option>
<option>Spa</option>
</select>
</div>


<div class="mb-3">
<label class="form-label">Tyre Compound</label>
<select class="form-select" name="tyre">
<option>Soft</option>
<option>Medium</option>
<option>Hard</option>
</select>
</div>


<div class="mb-4">
<label class="form-label">Number of Pit Stops</label>
<input type="number" class="form-control" name="pit_stops" min="0" max="3" required>
</div>


<button class="btn btn-primary w-100">
Simulate Strategy
</button>
</form>
</div>
</div>
</div>
</div>


{% endblock %}